/* styling - Nav.jsx */

.nav__container {
  background-color: #16181d;
  padding: 9px 40px 9px 40px;
  font-size: 16px;
  font-family: "Graphik";
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; To ensure it's on top of other elements */
}

.nav__logo__container {
  cursor: pointer;
}

li {
  list-style: none;
}

.nav__search__container {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 10px;
  transition: 0.55s;
}
.nav__search__container:hover {
  background-color: #323843e1;
}

.nav__ul {
  display: flex;
  gap: 15px;
}

.nav__profile {
  height: 30px;
  width: 30px;
  background-color: #272c34;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__profile__container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav__profile__container li {
  cursor: pointer;
}

.nav__menu__btn {
  padding: 12px 16px;
  border-radius: 9px;
  color: #ffffffa8;
  cursor: pointer;
  transition: 0.53s;
}

.nav__menu__btn:hover {
  background-color: #323843ef;
  padding: 12px 16px;
  border-radius: 9px;
  color: #ffffff;
}

/* nav menu for smaller screens */

.nav__menu__selected {
  background-color: #424957;
  display: flex;
  gap: 10px;
  padding: 14px;
  border-radius: 8px;
  align-items: center;
  color: #ffffff;
  font-family: "Graphik";
  font-size: 18px;
  display: none;
  position: absolute;
  left: 40%;
  cursor: pointer;
  transition: 0.53s;
}
.nav__menu__selected:hover {
  background-color: #5c6372;
}

.nav__select__container {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  cursor: pointer;
}

.nav__select__menu {
  background-color: #272c34;
  font-family: "Graphik";
  font-size: 18px;
  padding: 10px;
  width: 240px;
  border: none;
  border-radius: 8px;
  outline: none;
  display: none;
  position: fixed;
}

.nav__select__btn {
  padding: 12px;
  color: #a8afbd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.53s;
  background-color: #272c34;
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  margin-bottom: 7px;
}

.nav__select__btn:hover {
  background-color: #424957;
  padding: 12px 16px;
  color: #ffffff;
}

/* fonts.css */
@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/Graphik-Medium.ttf") format("truetype"); /* Corrected path */
}

/* Media query for screens with a width less than 768 pixels */
@media (max-width: 767px) {
  .nav__ul {
    display: none; /* Hide the navigation */
  }
  .nav__menu__selected {
    display: block;
    display: flex;
    align-items: center;
  }
  .nav__select__menu {
    display: none; /* modal*/
    top: 57px;
  }
}

@media (min-width: 768px) {
  .nav__select__container {
    display: none; /* Hide the menu for smaller screens */
    top: 70px;
  }
}
