/* App.css or your global CSS file */

/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Graphik";
}

.app-container {
  display: flex;
  flex-direction: column;
}

/* Custom horizontal scrollbar styles for the entire window */
/* Target only the horizontal scrollbar */
/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  height: 8px; /* Adjust the height to your preference */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d6d6d;
}

/* Custom vertical scrollbar styles for the entire window */
/* Target only the vertical scrollbar */
/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar:vertical {
  width: 8px; /* Adjust the width to your preference */
  background-color: transparent; /* Make it transparent */
}

/* Firefox */
/* Hide the default vertical scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

/* Restore the default vertical scrollbar for Firefox when hovering */
html:hover {
  scrollbar-color: auto auto;
}

/* width */
::-webkit-scrollbar {
  height: 0px; /* height of horizontal scrollbar ← You're missing this */
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/Graphik-Medium.ttf") format("truetype"); /* Corrected path */
}
